<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-flixsearch</string>
	<key>connections</key>
	<dict>
		<key>490747DB-68B7-413C-8AB8-6DEE61EC63B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0B840AB-D8B8-4F26-BABD-6855B855C8D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>07283E74-207E-4515-9329-AC643472FA8E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EE0D1D91-35B6-483B-BF31-66AF949CAF4D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CBED245D-643D-4624-BA6C-8FA4827F93D6</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>65A3F5D8-0CC9-4972-8BFB-E10E203CED8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAB37850-BBF1-435B-B4B1-71893CC99504</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8DB73187-6677-4204-9C1A-2C9EF0FB3A57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65A3F5D8-0CC9-4972-8BFB-E10E203CED8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AAB37850-BBF1-435B-B4B1-71893CC99504</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97BD5395-1B42-4559-8E36-06A23C96BF77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>See what's avaliable on Netflix and where</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Flixsearch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D0B840AB-D8B8-4F26-BABD-6855B855C8D3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>flix</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Querying flixsearch.io…</string>
				<key>script</key>
				<string>/usr/bin/python flix.py search "{query}"</string>
				<key>subtext</key>
				<string>What's available on Netflix and where</string>
				<key>title</key>
				<string>Search Netflix Content</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>490747DB-68B7-413C-8AB8-6DEE61EC63B8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>flixconf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading config…</string>
				<key>script</key>
				<string>/usr/bin/python flix.py config "{query}"</string>
				<key>subtext</key>
				<string>Configure active countries and other options</string>
				<key>title</key>
				<string>Flixsearch Configuration</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>342AACD1-6A12-47A6-9214-C69521696495</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>07283E74-207E-4515-9329-AC643472FA8E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EE0D1D91-35B6-483B-BF31-66AF949CAF4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CBED245D-643D-4624-BA6C-8FA4827F93D6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>97BD5395-1B42-4559-8E36-06A23C96BF77</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading countries…</string>
				<key>script</key>
				<string>/usr/bin/python flix.py countries "{query}"</string>
				<key>subtext</key>
				<string>Search results are shown only for active countries</string>
				<key>title</key>
				<string>Choose Countries</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>65A3F5D8-0CC9-4972-8BFB-E10E203CED8A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python flix.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AAB37850-BBF1-435B-B4B1-71893CC99504</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>countries</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8DB73187-6677-4204-9C1A-2C9EF0FB3A57</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07283E74-207E-4515-9329-AC643472FA8E</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>342AACD1-6A12-47A6-9214-C69521696495</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>490747DB-68B7-413C-8AB8-6DEE61EC63B8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>65A3F5D8-0CC9-4972-8BFB-E10E203CED8A</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>8DB73187-6677-4204-9C1A-2C9EF0FB3A57</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>97BD5395-1B42-4559-8E36-06A23C96BF77</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>AAB37850-BBF1-435B-B4B1-71893CC99504</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>CBED245D-643D-4624-BA6C-8FA4827F93D6</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>D0B840AB-D8B8-4F26-BABD-6855B855C8D3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EE0D1D91-35B6-483B-BF31-66AF949CAF4D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
